[defaults]
inventory = $PWD/hosts
log_path = /var/log/ansible.log
show_custom_stats = True

# fact_caching
# ============
# fact_caching = redis
# gathering = smart
# fact_caching = jsonfile
# fact_caching_connection = /scratch/ansible-cachedir
# fact_caching_timeout = 86400
