---

- hosts: localhost
  gather_facts: true
  tasks:
    - include_role:
        name: vbotka.ansible_lib
        tasks_from: al_include_os_vars_playbook_dir.yml
    - debug:
        var: test_var_1

- hosts: test_01
  gather_facts: true
  tasks:
    - include_role:
        name: vbotka.ansible_lib
        tasks_from: al_include_os_vars_playbook_dir.yml
    - debug:
        var: test_var_1

...
