{% if vara %}{{ lookup('template', 'template-18a.j2') }}{% endif %}
{% if varb %}{{ lookup('template', 'template-18b.j2') }}{% endif %}
{% if varc %}{{ lookup('template', 'template-18c.j2') }}{% endif %}
